html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: sans-serif;
}

.calculatorContainer {
    top: 50px;
    height: 200px;
    width: 150px;
}

.calculatorButton {
    font-size: 20px;
}

#screen {
    font-size: 15px;
}

@media (min-height: 500px) {
    .calculatorContainer {
        top: 50px;
        height: 400px;
        width: 300px;
    }

    .calculatorButton {
        font-size: 35px;
    }

    #screen {
        font-size: 25px;
    }
}

@media (min-height: 800px) {
    .calculatorContainer {
        top: 80px;
        height: 700px;
        width: 500px;
    }

    .calculatorButton {
        font-size: 60px;
    }

    #screen {
        font-size: 30px;
    }
}

.header {
    position: absolute;
    top: 0;
    display: table;
    width: 100%;
    height: 50px;
    background-color: #343a40;
}

.header p {
    color: #ef6c00;
    vertical-align: middle;
    display: table-cell; 
    font-size: 20px;
    padding-left: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    display: table;
    width: 100%;
    height: 50px;
    background-color: #343a40;
    z-index: 1;
}

.footer p {
    color: #ef6c00;
    text-align:center;
    vertical-align: middle;
    display: table-cell;
}

.calculatorButton {
    width: 22.5%;
    height: 15.5%;
}

.calculatorContainer {
    background-color: #ef6c00;
    position: relative;
    margin: auto;
    z-index: 2;
}

.boxShadowExtraLight {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.boxShadowLight {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.boxShadowStrong {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.calculatorButton {
    background-color: #343a40;
    position: absolute;
    color: #ffffff;
    text-align: center;
    line-height: 100%;
    cursor: pointer;
}

.calculatorButton:hover {
    background-color: #272b30;
}

.calculatorButton p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.equalChar {
    color: #ef6c00;
}

#screen {
    position: absolute;
    width: 94%;
    height: 17%;
    background-color: #ffffff;
    top: 3%;
    left: 3%;
    right: 3%;
}

#screen p {
    text-align: right;
    padding-right: 10px;
}

#scoreValue {
    margin-top: -15px;
    font-size: 2em;
}

.blockedChar {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}